@model AplikacjaDoObsady.Models.MatchAssignment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MatchAssignment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Match)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Match.MatchTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainReferee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainReferee.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssistantReferee1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssistantReferee1.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssistantReferee2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssistantReferee2.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FourthOfficial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FourthOfficial.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MatchAssignmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
